@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

li {
  @apply list-none;
}

::-webkit-scrollbar {
  color: purple;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 1px;
}

/* For the "inset" look only */

s {
  @apply bg-purple-400 p-4 m-4;
}
